.wrapper {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.container {
    scroll-snap-type: x mandatory;
    overflow-y: hidden;
    display: flex;
    width: 100px;
    height: 100px;
}
.item {
    scroll-snap-align: start; 
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

